body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

hr {
  margin: 100px auto 100px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%
}

p {
 color: #40514E
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EEF6F6;
}



/********************** SELECTORS **********************/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.mid-container {

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  padding-top: 50px;
}

.pro {
  text-decoration: underline;
  color: orange;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.coffee {
  width: 15%;
}

.computerboy {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.gaming-console {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.contact {
  width: 5%;
}

.footer-link {
  color: #11999E;





}

.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 100;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;

}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
   background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
   background-image: -o-linear-gradient(top, #11999E, #66BFBF);
   background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
